<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Собеседования</title>
</head>
<body>
    <h2>Собеседования</h2>
    <br>
    <table>
        <tr>
            <td><a href="{{ main_page }}">Меню</a></td>
            <td>/</td>
            <td>Собеседования</td>
        </tr>
    </table>
    <br>
    <div>
        <a href="{{ url_prefix }}/saved">Сохраненные собеседования</a>
    </div>
    <div>
        <a href="{{ url_prefix }}/created">Созданные собеседования</a>
    </div>
</body>