<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Созданные собеседования</title>
</head>
<body>
    <header>
        <h2>Созданные собеседования</h2>

        <table>
            <tr>
                <td><a href="/menu">Меню</a></td>
                <td>/</td>
                <td><a href="/interview">Собеседования</a></td>
                <td>/</td>
                <td>Назначение кандидатов</td>
            </tr>
        </table>
    </header>

    <main>
        <h3>Собеседование</h3>
        {% if interview == none %}
            Для назначения кандидатов необходимо <a href="/interview/appointment/pick_interview">выбрать собеседование</a>
        {% else %}
            <table border="1">
                <tr>
                    <th>Позиция</th>
                    <th>Ставка</th>
                    <th>Собеседующий</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
                <tr title="{{ interview.iv_id }}">
                    <td>{{ interview.position }}</td>
                    <td>{{ interview.salary }}</td>
                    <td>{{ interview.employee }}</td>
                    <td>{{ interview.iv_date }}</td>
                    <td>
                        <a href="/interview/appointment/pick_interview">Изменить</a>
                    </td>
                </tr>
            </table>
            <h3>Кандидаты</h3>
            {% if candidates == none %}
                <a href="/interview/appointment/pick_candidates">Выберите кандидатов</a> для назначения
            {% else %}
                <table>
                    <tr>
                        <th>
                            <a href="/interview/appointment/pick_candidates">Добавить</a>
                        </th>
                        <th>
                            <form action="/interview/appointment/clear_candidates" method="POST">
                                <button type="submit">Очистить</button>
                            </form>
                        </th>
                    </tr>
                </table>
                <br>
                <table border="1">
                    <tr>
                        <th>Имя</th>
                        <th>Возраст</th>
                        <th>Пол</th>
                        <th>Адрес</th>
                        <th></th>
                    </tr>
                    {% for candidate in candidates %}
                    <tr title="{{ candidate.c_id }}">
                        <td>{{ candidate.name }}</td>
                        <td>{{ candidate.age }}</td>
                        <td>{{ candidate.gender }}</td>
                        <td>{{ candidate.address }}</td>
                        <td>
                            <form action="/interview/appointment/remove_candidate" method="POST">
                                <input type="hidden" name="candidate_id" value="{{ candidate.c_id }}">
                                <button type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" align="right">
                            <form action="/interview/appointment/confirm" method="POST">
                                <button type="submit">Назначить</button>
                            </form>
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    </main>
</body>
</html>