<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Созданные собеседования</title>
</head>
<body>
    <h2>Собеседования</h2>
    <br>
    <table>
        <tr>
            <td><a href="{{ main_page }}">Меню</a></td>
            <td>/</td>
            <td><a href="{{ url_prefix }}">Собеседования</a></td>
            <td>/</td>
            <td>Созданные</td>
        </tr>
    </table>
    <div>
        Вы еще ничего не создали!
    </div>
    <br>
    <a href="{{ url_prefix }}/create">Создать собеседование</a>
</body>
</html>