<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
</head>
<body>
    <div id="app">
        <!-- выводим сообщение, если есть -->
        {% if message is not none or message != '' %}
            <div style="color: red">{{ message }}</div>
        {% endif %}

        <form method="post" action="/auth/" autocomplete="off">
            <label for="username">
                Username
                <input autocomplete="off" name="username" type="text" required>
            </label>
            <label for="password">
                Password
                <input autocomplete="off" name="password" type="password" required>
            </label>
            <button type="submit">
                Войти
            </button>
        </form>
        <br>
    </div>
</body>
</html>