<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 200px; margin: 0 auto" >
    <img width="200" src="https://commons.bmstu.wiki/images/f/f6/Gerb_mgtu.png">
</div>
<form method="post">
{% for input_config in input_configs %}
    <label>
        {{ input_config["label"] }}
        <input
                type="{{ input_config["type"] }}"
                name="{{ input_config["name"] }}"
        >
    </label>
{% endfor %}
</form>
</body>
</html>